<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.surbi.listnow">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.CheckListContainerActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.NewListActivity"
            android:label="@string/title_activity_new_list"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.udacity.surbi.listnow.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.NewItemActivity"
            android:label="@string/title_activity_new_item"
            android:parentActivityName=".activity.NewListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.udacity.surbi.listnow.activity.NewListActivity" />
        </activity>
        <receiver android:name=".widget.AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>
        <service android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>